*,
*::before,
*::after
  box-sizing: border-box

html,
body
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  background: $primary-color

.container
  +getPadding($mobile-width, $container-mobile-width)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around

  //margin: 0 auto

  @media (min-width: $tablet-width)
    +getPadding($tablet-width, $container-tablet-width)

  @media (min-width: $desktop-width)
    +getPadding($desktop-width, $container-desktop-width)
