.promo
  //background: url("../img/promo/photo-cake-bg-320.png") no-repeat -20px  -140px
  background: url("../img/promo/promo-sprite.png") no-repeat 0px 5px, url("../img/promo/promo-sprite.png") no-repeat 0px 20px, url("../img/promo/promo-sprite.png") no-repeat 0px 35px, url("../img/promo/photo-cake-bg-320-min.png") no-repeat -20px  -140px

  background-size: 380px 295px
  //box-sizing: content-box
  width: 100%
  min-height: 450px
  padding-top: 110px
  display: flex
  flex-direction: column
  align-items: center

  &__title
    font-family: 'Playfair Display', serif
    margin: 0
    padding: 0
    min-height: 65px
    color: $color-night-rider
    font-size: 40px
    font-weight: 700
    font-style: normal
    line-height: 36px
    letter-spacing: 1.22px
    text-align: center
    display: flex
    justify-content: center


  &__subtitle
    color: #32313d
    font-family: 'IntroScript', serif
    font-size: 22px
    font-weight: 400
    line-height: 77.95px
    //display: block
    //text-align: center

    display: flex
    justify-content: center

  //@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  //  background-image: url("../img/promo/photo-cake-bg-320@2x.png")

  &__short-advantages-wrap
    display: flex
    flex-direction: column

  &__short-advantages
    display: flex
    align-itemst: center
    padding-left: 42px
    color: #000000
    font-family: Circe, sans-serif
    font-size: 14px
    font-weight: 400
    margin-top: 25px
    position: relative

    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 33px
      height: 33px
      background: url("../img/promo/promo-sprite-mob2.png") no-repeat 0 50%
      background-size: cover
    &:last-child::before
      background-position: 100% 50%

  @media (min-width: $tablet-width), (min-width: $mobile-width + 1)
    background-position: 40vw 10px
    background-size: contain
    align-items: flex-start

    &__title
      text-align: left
      justify-content: flex-start

    &__subtitle
      justify-content: flex-start





  @media (min-width: $tablet-width)
    background-image: url("../img/promo/photo-cake-bg-min.png")
    min-height: 650px
    background-size: 85vw
    background-position: 35vw 10px

    //@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    //  background-image: url("../img/promo/photo-cake-bg@2x.png")

    &__title
      width: 270px
      min-height: 99px
      font-size: 60px
      line-height: 55px
      letter-spacing: 1.34px
      text-align: left
      justify-content: flex-start

    &__subtitle
      color: #32313d
      margin-top: 29px
      font-size: 41px
      font-weight: 400
      line-height: 77.95px
      text-align: left
      justify-content: flex-start

    &__short-advantages-wrap
      flex-direction: row

    &__short-advantages
      padding-left: 71px

      &::before
        width: 55px
        height: 55px

  @media (min-width: $desktop-width)
    min-height: 941px
    background-size: 941px
    background-position: 43.6vw 14px
    padding-top: 142px

    &__title
      width: 353px
      min-height: 127px
      font-size: 78px
      line-height: 70px
      letter-spacing: 5.74px

    &__subtitle
      margin-top: 8px
