.page-header
  width: 100%
  min-height: 20px
  background-color: yellow

.main-nav
  display: block
  min-width: 20px

  &__el
    background-color: #fff
    color: aqua
    text-decoration: none

    &:hover
      text-decoration: underline
      color: red
